---
export const prerender = true;

import BaseLayout from "@/layouts/BaseLayout.astro";
import ModularContent from "@/components/dato/ModularContent/ModularContent.astro";

import { VARIABLE_PAGES_QUERY } from "@/utils/dato/queries/variablePages";
import { fetchDatoForAllLocales } from "@/utils/dato/index";
import { altLinksFromSlugs } from "@/utils/helpers/alternateLinks";

export async function getStaticPaths() {
  const allVariablePages = await fetchDatoForAllLocales(
    VARIABLE_PAGES_QUERY,
    "allVariablePages"
  );

  return allVariablePages.map((item) => {
    // Generate alternate links using helper function
    const alternateLinks = altLinksFromSlugs(
      item._allSlugLocales,
      item.locale,
      (locale, slug) => `/${locale}/${slug}`
    );

    return {
      params: {
        locale: item.locale,
        slug: item.slug,
      },
      props: {
        page: item,
        alternateLinks,
      },
    };
  });
}

const { page, alternateLinks } = Astro.props as any;

const seo = page._seoMetaTags;
const content = page.content.content || [];
---

<BaseLayout seo={seo} alternateLinks={alternateLinks}>
  <div class="wrapper stack-xl pt-l">
    <div class="bg-dark-pink p-l-xl">
      <h1 class="text-step-5 text-white weight-normal leading-tight">
        {page.title}
      </h1>
    </div>

    <ModularContent content={content} />
  </div>
</BaseLayout>
