---
export const prerender = true;

import DatoPicture from "@/components/dato/DatoPicture/DatoPicture.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { taggedDatoRequest } from "@/utils/dato/datoRequest";
import { BLOG_POSTS_QUERY } from "@/utils/dato/queries/blogPosts";
import { locales } from "@/utils/dato/i18n.js";
import { getItemPath } from "@/utils/helpers/getItemPath";
import { generateAltLinksForLocale } from "@/utils/helpers/alternateLinks";

export async function getStaticPaths() {
  // Create a path for each locale
  return locales.map((locale) => {
    // Generate alternate links for other locales
    const alternateLinks = generateAltLinksForLocale(
      locale,
      (locale) => `/${locale}/blog/`
    );

    return {
      params: { locale },
      props: {
        locale,
        alternateLinks,
      },
    };
  });
}

const { locale, alternateLinks } = Astro.props;

// Fetch blog posts for the current locale only
const { allBlogPosts = [] } = await taggedDatoRequest(BLOG_POSTS_QUERY, {
  locale,
});
---

<BaseLayout alternateLinks={alternateLinks}>
  <div class="wrapper py-2xl stack-m">
    <h1 class="text-step-3">Blog</h1>
    <ul class="stack-xs" role="list">
      {
        allBlogPosts.map((post) => (
          <li>
            <a href={getItemPath(post, locale)} class="post-link">
              <DatoPicture
                image={post.heroImage}
                widths={[240]}
                sizes="240px"
                ratio={5 / 2}
                style={`view-transition-name: post-image-${post.id};`}
              />

              <span>{post.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .post-link {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    text-decoration: none;
    padding: var(--space-xs);
    border-radius: var(--space-xs);
    background: var(--color-light-pink);
    transition: all 0.4s ease-in-out;

    &:hover {
      background: var(--color-white);
      box-shadow: inset 0 0 0 var(--space-2xs) var(--color-light-pink);
    }

    picture {
      border-radius: var(--space-3xs);
      view-transition-class: blog-image;
      flex-shrink: 0;
      flex-basis: 15rem;
    }

    span {
      font-size: var(--text-step-1);
      flex-basis: 20ch;
    }
  }

  ::view-transition-group(.blog-image) {
    animation-duration: 3s;
  }
</style>
